:root {
    --text: #495B73;
    --base: #ffffff;
    --sec: #D9436B;
    --enlace: #e6e6e6;
    --hover: #D93250;
}

a:link {
    color: rgba(190, 196, 218, 0.8);
    position: relative;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
}

a:hover {
    color: rgb(255, 255, 255);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.linea {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    -webkit-transition: all 0.02s ease-in-out;
    -o-transition: all 0.02s ease-in-out;
    transition: all 0.02s ease-in-out;
}

.linea:hover {
    position: relative;
    background-color: white;
    height: 100%;
    width: 5%;
    padding: 0px 0px;
    margin: 0px 0px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.center {
    text-align: center;
    margin: 0px auto;
}


/*estilos de barra de navegación*/

nav {
    width: 100%;
    background-color: rgba(223, 223, 223, 0);
    padding: 0px 0px;
    position: fixed;
    float: none;
    z-index: 9999;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 0px 0px;
    animation-name: ejemplo2;
    animation-duration: 0.5s;
    animation-delay: 0s;
}

nav:hover {
    animation-name: ejemplo;
    width: 100%;
    background: rgba(20, 20, 20, 0.9);
    position: fixed;
    float: none;
    z-index: 9999;
    animation-duration: 0.5s;
    animation-delay: 0s;
    padding: 10px 0px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

@keyframes ejemplo {
    from {
        padding: 0px 0px;
    }
    to {
        padding: 10px 0px;
        animation-direction: initial;
    }
}

@keyframes ejemplo2 {
    from {
        padding: 10px 0px;
    }
    to {
        padding: 0px 0px;
        animation-direction: initial;
    }
}


/*Estilos del Logo*/

.logo {
    width: 70px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
    display: inline-block;
    opacity: 1;
    transition: transform 1s;
}

.logo:hover {
    opacity: 1;
    transform: translate(10px);
    /*transform: rotate(10deg);*/
    transform: scale(1.2);
    animation-duration: 2s;
    animation-delay: 0s;
}

#ulnav {
    padding-top: 10px;
    margin: 10px;
    text-align: right;
}

.li {
    padding: 0px 0px;
    display: inline-block;
}

a:visited {
    color: white;
}

a:active {
    color: var(--sec);
}


/*estilos del slider*/

#slider {
    width: 100%;
    backface-visibility: hidden;
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 100% 85%, 10% 100%, 0% 0%);
    -o-clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 10% 100%, 0% 0%);
    -moz-clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 10% 100%, 0% 0%);
    clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
}


/*

small
{
    position: absolute;
}
*/

#slippry {
    position: relative;
}

.whitebg {
    background-color: rgba(233, 233, 233, 0.7);
    padding: 5px 10px;
}

.iz {
    color: white;
    position: absolute;
    float: none;
    z-index: 9999;
}

.de {
    font-size: 12px;
    color: white;
    position: absolute;
    float: none;
    z-index: 2;
}

.boton {
    position: absolute;
    float: none;
    z-index: 9999;
    width: 150px;
    height: 50px;
    color: rgba(248, 247, 247, 1);
    background-color: rgba(8, 8, 8, 0.8);
    border: 0px solid;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
}

.boton:hover {
    position: absolute;
    float: none;
    z-index: 2;
    width: 150px;
    height: 50px;
    color: white;
    background-color: var(--hover);
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}

.botonserv {
    position: relative;
    float: none;
    z-index: 9999;
    width: 150px;
    height: 50px;
    color: rgba(248, 247, 247, 1);
    background-color: rgba(8, 8, 8, 0.8);
    border: 0px solid;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
}

.botonserv:hover {
    position: relative;
    float: none;
    z-index: 9999;
    width: 150px;
    height: 50px;
    color: white;
    background-color: var(--hover);
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}

.top250 {
    top: 30%;
    bottom: 30%;
    left: 10%;
    right: 10%;
}

.top300 {
    top: 40%;
    bottom: 50%;
    left: 10%;
    right: 45%;
}

.top375 {
    top: 50%;
    bottom: 50%;
    left: 10%;
    right: 45%;
}

.top400 {
    top: 400;
}

.top450 {
    top: 450;
}

.cont {
    position: absolute;
    float: none;
    z-index: 9999;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.1);
    top: 46%;
    bottom: 46%;
    left: 94%;
    right: 3%;
    filter: blur(0px);
}

.cont2 {
    position: absolute;
    float: none;
    z-index: 9999;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.5);
    top: 25%;
    bottom: 40%;
    left: 7%;
    right: 70%;
    filter: blur(0px);
}

.negro {
    color: black;
    font-weight: bold;
}


/*estilos para formularios*/

input,
select,
option,
textarea {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid;
    margin: 5px 0px;
    opacity: .5;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 250px;
}

.dominio {
    border-radius: 5px;
    padding: 5px;
    color: black;
    background-color: rgba(240, 239, 239, 0.8);
}


/**Estilos sobre Nosotros**/

.main-title {
    font-size: 60px;
    font-weight: bold;
    color: var(--text);
}

.diamante {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
    background-image: url("../imagenes/nosotros.jpg");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 200;
}


/*estilos de imagenes de servicios*/

.rounded-circle {
    width: 250px;
    height: 250px;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    -o-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.rounded-circle:hover {
    width: 250px;
    height: 250px;
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
    -o-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
    transform: scale(1.05);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    pun
}

.rounded-circle2 {
    width: 100%;
    -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    -o-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.rounded-circle2:hover {
    width: 100%;
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
    -o-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
    transform: scale(1.05);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


/*pading espaciado entre los elemntos*/

.pad_100 {
    padding: 100px;
}


/*Footer*/

.footer {
    margin: 0px;
    width: 100%;
    background-color: rgba(3, 3, 3, 0.9);
    padding: 70px 0px;
    -webkit-clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
    -o-clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
}

.pfooter {
    margin: 0px;
    padding: 0px;
}

.white {
    color: rgba(246, 246, 246, 1)
}

.pul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.pil {
    padding: 3px;
    margin: 3px;
    color: rgba(175, 175, 175, 0.8);
    display: list-item;
    /*background-color: rgba(3, 3, 3, 0.9);*/
}

.pa {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    opacity: .5;
}

.pa:hover {
    font-size: 12px;
    opacity: 1;
    color: var(--sec)
}

.tmblr {
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 20%;
    cursor: pointer;
    opacity: .6;
}

.tmblr:hover {
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 20%;
    cursor: pointer;
    opacity: 1;
}

.copy {
    padding: 10px;
    background-color: rgba(3, 3, 3, 0.9);
    text-align: center;
    color: var(--enlace)
}


/*Social Networks*/

.social-networks {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 30px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    font-size: 22px;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    backface-visibility: hidden;
    cursor: pointer;
}

.social {
    font-size: 22px;
    color: rgba(199, 199, 199, 0.7);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    backface-visibility: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.social:hover {
    font-size: 22px;
    color: rgba(253, 252, 252, 0.9);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    /*-webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);*/
    backface-visibility: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}


/*video paralax*/

.ParallaxVideo {
    height: 300px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.ParallaxVideo video {
    min-width: 50%;
    position: fixed;
    top: 0;
    z-index: -2;
}

.ParallaxVideo h1 {
    color: #fff;
    font-size: 76px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.contenedor {
    background-color: white;
    z-index: 1;
}


/*overlay del nav*/

.nav-overlay {
    background: rgba(20, 20, 20, 0.9);
    padding: 0px 0px;
    color: black;
    -webkit-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}


/*estilos galeria*/

.grid {
    width: 100%;
    padding: 150px 0px;
}

.grid-item {
    margin: 0px auto;
    z-index: 200;
    width: 20%;
    height: auto;
    padding-bottom: 0px;
    overflow: hidden;
    float: left;
    position: relative;
    background-color: rgb(0, 255, 55);
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    -o-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-top: -8%;
}

.grid-item:before {
    pointer-events: none;
}

.grid-item:nth-child(6),
:nth-child(15) {
    margin-left: 10%;
}

.imggrid {
    margin: 0%;
    position: relative;
    width: 100%;
    height: auto;
    transform: translatex(-20px);
}