:root {
    --text: #495B73;
    --base: #E9F1F2;
    --sec: #D9436B;
    --enlace: #495B73;
    --hover: #D93250;
}

a:link {
    color: var(--text);
    position: relative;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    color: var(--base);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.linea {
    position: relative;
    height: 100%;
    width: 100%;
}

.linea:hover {
    position: relative;
    background-color: white;
    height: 100%;
    width: 5%;
    padding: 0px 0px;
    margin: 0px 0px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--sec);
}

p {
    color: var(--text);
}

.center {
    text-align: center;
    margin: 0px auto;
}


/*estilos de barra de navegación*/

nav {
    width: 100%;
    background-color: #9DA65D;
    padding: 10px 0px;
    position: fixed;
}

#ulnav {
    text-align: center;
}

li {
    padding: 0px 10px;
    display: inline-block;
}

a:visited {
    color: var(--text);
}

a:active {
    color: white;
}